<!DOCTYPE html>
{% load fontawesome_5 %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Clients</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% fontawesome_5_static %}
    
    
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <h2> Magasin </h2>
            <form action={% url
            'index' %} method='GET'>
            {% csrf_token %}
            <button class="btn btn-outline-secondary" type="submit">
                Catalogue
            </button>
            </form>
            <form action={% url
            'Get Sales' %} method='GET'>
            {% csrf_token %}
            <button class="btn btn-outline-secondary" type="submit">
                Ventes du jour
            </button>
            </form>
            <div class="form-inline">
                <form action={% url
                'Clear Data' %} method='POST'>
                {% csrf_token %}
                <button class="btn btn-outline-danger btn-sm" type="submit">
                    {% fa5_icon 'trash' 'fas' %}
                    Effacer les données
                </button>
                </form>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="">
                    <div style="flex: 0.03"></div>
                    
                    <div style="flex: 1">
                        <div style="display: flex">
                            <h4 style="flex: 1">
                                {% fa5_icon 'address-book' 'fas' %}
                                Clients
                            </h4>
                            {% if crm_is_up %}
                            <span class="badge badge-success" style="margin-right: 10px; align-self: center;">
                                En ligne
                                {% else %}
                                <span class="badge badge-danger" style="margin-right: 10px; align-self: center;">
                                    Hors ligne
                                    {% endif %}
                                </span>
                                <span class="badge badge-light" style="margin-right: 10px; align-self: center;">
                                    Dernière synchronisation:
                                    <br>
                                    {% if customers_update_time %}
                                    {{ customers_update_time|date:'Y-m-d H:i:s' }}
                                    {% else %}
                                    jamais
                                    {% endif %}
                                </span>
                                <form action={% url
                                'Update Customers' %} method='POST'>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark btn-sm">
                                    {% fa5_icon 'sync-alt' 'fas' %}
                                    Sync
                                </button>
                                </form>
                        </div>
                        <table class="table table-hover table-sm table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID Client</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Nº Compte</th>
                                    <th scope="col">Pts fidélité</th>
                                    <th scope="col">Paiements</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customer in customers %}
                                <tr>
                                    <td> {{ customer.idClient }}</td>
                                    <td> {{ customer.nom }}</td>
                                    <td> {{ customer.prenom }}</td>
                                    <td> {{ customer.compte }}</td>
                                    <td> {{ customer.ptsFidelite }}</td>
                                    <td> {{ customer.paiement }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>