{% extends 'base.html' %}

{% block content %}
<div style="display: flex">
    <div style="flex: 1">
        <div style="display: flex">
            <h4 style="flex: 1">
                Clients
            </h4>
            {% if global_info.crm_is_up %}
            <span class="badge badge-success" style="margin-right: 10px; align-self: center;">
                En ligne
            </span>
            {% else %}
            <span class="badge badge-danger" style="margin-right: 10px; align-self: center;">
                Hors ligne
                {% endif %}
            </span>
            <span class="badge badge-light" style="margin-right: 10px; align-self: center;">
                Dernière synchronisation:
                <br>
                {% if global_info.customers_last_update %}
                {{ global_info.customers_last_update|date:'Y-m-d H:i:s' }}
                {% else %}
                jamais
                {% endif %}
            </span>
            <form action="{% url 'Update Customers' %}" method='POST'>
                <button type="submit" class="btn btn-outline-dark btn-sm">
                    Sync
                </button>
            </form>

        </div>
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID Client</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nº Compte</th>
                    <th scope="col">Pts fidélité</th>
                    <th scope="col">Réduction accumulé</th>
                </tr>
            </thead>

            <tbody>
                {% for customer in context.customers %}
                <tr>
                    <td> {{ customer.idClient }}</td>
                    <td> {{ customer.nom }}</td>
                    <td> {{ customer.prenom }}</td>
                    <td> {{ customer.compte }}</td>
                    <td> {{ customer.ptsFidelite }}</td>
                    <td> {{ customer.promo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<!--        <form action="{% url 'Get Promo Client Products' %}" method='POST'>-->
<!--                <button type="submit" class="btn btn-outline-dark btn-sm">-->
<!--                    Sync-->
<!--                </button>-->
<!--        </form>-->

        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Id Client</th>
                    <th scope="col">Code Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Reduction</th>
                </tr>
            </thead>
            <tbody>
                {% for promo in context.promos %}
                    {% if promo.promo != 0 %}
                <tr>
                    <td> {{ promo.date }}</td>
                    <td> {{ promo.idClient }}</td>
                    <td> {{ promo.codeProduit }}</td>
                    <td> {{ promo.quantite }}</td>
                    <td> {{ promo.promo }}</td>
                </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}