<!DOCTYPE html>

{% load fontawesome_5 %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gestion magasin App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% fontawesome_5_static %}

    </head>
    <body style="margin:20px">

        <nav class="navbar navbar-light bg-light">
            <h2> Magasin </h2>
            <a class="nav-link" href="customers">Clients</a>
            <a class="nav-link" href="daily_tickets">Ventes du jour</a>
            <div class="form-inline">
                <form action={% url 'Clear All Data' %} method='POST'>
                    {% csrf_token %}
                    <button class="btn btn-outline-danger btn-sm" type="submit">
                        {% fa5_icon 'trash' 'fas' %}
                        Effacer les données
                    </button>
                </form>
            </div>
        </nav>

        <div>
            <p>Bienvenue sur l'application Magasin, il est {{ time }}. </p>

            <div style="display: flex">
                <div style="flex: 1">
                    <div style="display: flex">
                        <h4 style="flex: 1">
                            {% fa5_icon 'book-open' 'fas' %}
                            Catalogue Produit
                        </h4>
                        {% if catalogue_is_up %}
                            <span class="badge badge-success" style="margin-right: 10px; align-self: center;">
                            En ligne
                        {% else %}
                            <span class="badge badge-danger" style="margin-right: 10px; align-self: center;">
                            Hors ligne
                        {% endif %}
                        </span>
                        <span class="badge badge-light" style="margin-right: 10px; align-self: center;">
                            Dernière synchronisation:
                            <br>
                            {% if products_update_time %}
                                {{ products_update_time|date:'Y-m-d H:i:s' }}
                            {% else %}
                            jamais
                            {% endif %}
                        </span>
                        <form action={% url 'Update Products' %} method='POST'>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark btn-sm">
                                {% fa5_icon 'sync-alt' 'fas' %}
                                Sync
                            </button>
                        </form>
                    </div>
                    <table class="table table-hover table-sm table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Code produit</th>
                                <th scope="col">Famille produit</th>
                                <th scope="col">Description</th>
                                <th scope="col">Quantité Min.</th>
                                <th scope="col">Packaging</th>
                                <th scope="col">Prix (en €)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td> {{ product.codeProduit }}</td>
                                    <td> {{ product.familleProduit }}</td>
                                    <td> {{ product.descriptionProduit }}</td>
                                    <td> {{ product.quantiteMin }}</td>
                                    <td> {{ product.packaging }}</td>
                                    <td> {{ product.prix }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
