{% extends 'base.html' %}

{% block content %}
<div style="display: flex">
    <div style="flex: 1">
        <div style="display: flex">
            <h4 style="flex: 1">
                Catalogue Produit
            </h4>
            {% if global_info.catalogue_is_up %}
            <span class="badge badge-success" style="margin-right: 10px; align-self: center;">
                En ligne
            </span>
            {% else %}
            <span class="badge badge-danger" style="margin-right: 10px; align-self: center;">
                Hors ligne
                {% endif %}
            </span>
            <span class="badge badge-light" style="margin-right: 10px; align-self: center;">
                Dernière synchronisation:
                <br>
                {% if global_info.products_last_update %}
                {{ global_info.products_last_update|date:'Y-m-d H:i:s' }}
                {% else %}
                jamais
                {% endif %}
            </span>
            <form action="{% url 'Update Products' %}" method='POST'>
                <button type="submit" class="btn btn-outline-dark btn-sm">
                    Sync
                </button>
            </form>
        </div>
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Code produit</th>
                    <th scope="col">Famille produit</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantité Min.</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Prix (en €)</th>
                </tr>
            </thead>
            <tbody>
                {% for product in context %}
                <tr>
                    <td> {{ product.codeProduit }}</td>
                    <td> {{ product.familleProduit }}</td>
                    <td> {{ product.descriptionProduit }}</td>
                    <td> {{ product.quantiteMin }}</td>
                    <td> {{ product.stock }}</td>
                    <td> {{ product.prix }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}