{% extends 'base.html' %}

{% load fontawesome_5 %}

{% load custom_filters %}

{% block content %}
<div style="display: flex">
    <div style="flex: 1">
        <div style="display: flex">
            <h4 style="flex: 1">
                {% fa5_icon 'address-book' 'fas' %}
                Ventes du jour
            </h4>
            {% if global_info.caisse_is_up %}
            <span class="badge badge-success" style="margin-right: 10px; align-self: center;">
                En ligne
            </span>
            {% else %}
            <span class="badge badge-danger" style="margin-right: 10px; align-self: center;">
                Hors ligne
                {% endif %}
            </span>
            <span class="badge badge-light" style="margin-right: 10px; align-self: center;">
                Dernière synchronisation:
                <br>
                {% if global_info.tickets_last_update %}
                {{ global_info.tickets_last_update|date:'Y-m-d H:i:s' }}
                {% else %}
                jamais
                {% endif %}
            </span>
            <form action="{% url 'Update Sales' %}" method='POST'>
                <button type="submit" class="btn btn-outline-dark btn-sm">
                    {% fa5_icon 'sync-alt' 'fas' %}
                    Sync
                </button>
            </form>
        </div>
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Références produits</th>
                    <th scope="col">Quantité vendue</th>
                    <th scope="col">Client</th>
                    <th scope="col">Prix (en €)</th>
                </tr>
            </thead>
            <tbody>
                {% for vente in context.ventes %}
                {% for article in vente.articles.all %}
                <tr>
                    {% if forloop.first %}
                    <td rowspan="{{ vente.articles.count }}"> {{ vente.date }}</td>
                    {% endif %}
                    <td> {{ article.codeProduit }}</td>
                    <td> {{ vente|quantity:article }}</td>
                    {% if forloop.first %}
                    <td rowspan="{{ vente.articles.count }}"> {{ vente.client }}</td>
                    <td rowspan="{{ vente.articles.count }}"> {{ vente.prix }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}